{# templates/locations/location_list.html #}
{% extends "base.html" %}

{% block page %}
    <h1>My locations</h1>
    {% if location_list %}
        <ul>
          {% for location in location_list %}
          <li>
            <a href="{% url 'locations:location-detail' slug=location.slug %}">
                {{ location.title }}
            </a>
          </li>
          {% endfor %}
        </ul>
    {% else %}
        <p>Oops!! You have no locations yet.</p>
    {% endif %}
{% endblock page %}

{% block extrabody %}
{% endblock extrabody %}