{# myproject/templates/admin/locations/location/change_form.html #}
{% extends "admin/change_form.html" %}
{% load i18n admin_static admin_urls admin_modify %}

{% block extrastyle %}
<!-- Django’s admin_change_form_document_ready block contains
     JavaScript code to handle various operations in the change
     form and we need that to be rendered, add "block super". -->
    {{ block.super }}
    <link rel="stylesheet" type="text/css"
          href="{{ STATIC_URL }}site/css/locating.css" />
{% endblock extrastyle %}

{% block field_sets %}
    {% for fieldset in adminform %}
        {% include "admin/includes/fieldset.html" %}
    {% endfor %}
    <script type="text/javascript"
            src="http://maps.google.com/maps/api/js?language=en">
        </script>
    <script type="text/javascript"
            src="{{ STATIC_URL }}site/js/locating.js">
        </script>
{% endblock field_sets %}
